ion-header {
    ion-toolbar {
        ion-title {
            font-size: 8vw !important;
            color: #FFFFFF !important;
        }
        ion-buttons {
            ion-menu-button {
                font-size: 8vw !important;
            }
            ion-button {
                ion-icon {
                    font-size: 8vw !important;
                }
            }
        }
    }
}

ion-content {
    background: #25e0a9 !important;
    ion-list {
        ion-item-sliding {
            ion-item {
                ion-label {
                    p {
                        font-size: 20px;
                    }
                }
                ion-badge {
                    font-size: 20px;
                }
            }
            ion-item-options {
                ion-item-option {
                    ion-icon {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
  }

#background-content {
    background: #25e0a9 !important;
}
  