<ion-header>
  <ion-toolbar color="dark">
    <ion-title slot="start">Servicios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="blanco" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="servicio.routeTo('/registro-servicios')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="cargarServicios()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="/assets/imgs/en_construccion.jpg"></ion-img>
</ion-content>

<app-footer></app-footer>
